@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #6366f1;
    --color-primary-dark: #4f46e5;
    --color-secondary: #8b5cf6;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
}
